# instalables
node_modules/
.env
build/
.DS_Store
*.log

# Archivos compilados de Python                                                                                                                               
 __pycache__/
/__pycache__
__pycache__/                                                                                                                                             
 *.pyc                                                                                                                                                         
 *.pyo                                                                                                                                                         
 *.pyd 

# Archivos temp 
examples/
.jarvis/
jarvis_cli.egg-info